<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.renren.dao.mybatis.IScheduleJobDao">

    <resultMap id="BaseResultMap" type="com.leslie.renren.entity.ScheduleJobEntity">
        <result column="job_id" property="jobId" jdbcType="INTEGER"/>
        <result column="bean_name" property="beanName" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 查询基础字段-->
    <sql id="Base_Column_List">
        job_id,bean_name,params,cron_expression,status,remark,create_time
    </sql>
    <!-- 插入基础字段-->
    <sql id="Base_Insert_Column_List">
        job_id,bean_name,params,cron_expression,status,remark,create_time
    </sql>
    <!-- 批量插入-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into schedule_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Insert_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.jobId},#{item.beanName},#{item.params},#{item.cronExpression},#{item.status},#{item.remark},#{item.createTime}
            </trim>
        </foreach>
    </insert>
</mapper>
