<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.renren.dao.mybatis.ISysCaptchaDao">

    <resultMap id="BaseResultMap" type="com.leslie.renren.entity.SysCaptchaEntity">
        <result column="uuid" property="uuid" jdbcType="CHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 查询基础字段-->
    <sql id="Base_Column_List">
        uuid,code,expire_time
    </sql>
    <!-- 插入基础字段-->
    <sql id="Base_Insert_Column_List">
        uuid,code,expire_time
    </sql>
    <!-- 批量插入-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_captcha
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Insert_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.uuid},#{item.code},#{item.expireTime}
            </trim>
        </foreach>
    </insert>
</mapper>
