<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.renren.dao.mybatis.ISysUserRoleDao">

    <resultMap id="BaseResultMap" type="com.leslie.renren.entity.SysUserRoleEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 查询基础字段-->
    <sql id="Base_Column_List">
        id,user_id,role_id
    </sql>
    <!-- 插入基础字段-->
    <sql id="Base_Insert_Column_List">
        user_id,role_id
    </sql>
    <!-- 批量插入-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Insert_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.userId},#{item.roleId}
            </trim>
        </foreach>
    </insert>
</mapper>
