<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.renren.dao.mybatis.ISysUserTokenDao">

    <resultMap id="BaseResultMap" type="com.leslie.renren.entity.SysUserTokenEntity">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 查询基础字段-->
    <sql id="Base_Column_List">
        user_id,token,expire_time,update_time
    </sql>
    <!-- 插入基础字段-->
    <sql id="Base_Insert_Column_List">
        user_id,token,expire_time,update_time
    </sql>
    <!-- 批量插入-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_user_token
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Insert_Column_List"/>
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.userId},#{item.token},#{item.expireTime},#{item.updateTime}
            </trim>
        </foreach>
    </insert>
</mapper>
